<h1>Lahjavinkit</h1>
<p> Tällä sivulla voit katsella lisättyjä lahjavinkkejä sekä etsiä mieluisiasi lahjoja antamillasi hakusanoilla </p>
<table>
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Kuvaus</th>
      <th>Ikä</th>
      <th>Sukupuoli</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= gift.title %></td>
        <td><%= gift.description %></td>
        <td><%= gift.age %></td>
        <td><%= gift.gender %></td>
        <td><%= link_to 'Show', gift %></td>
        <% if user_signed_in? && (current_user.id == gift.user_id || current_user.admin?) %>
        <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
        <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift', new_gift_path %>
