<p>
  <strong>Otsikko:</strong>
  <%= @gift.title %>
</p>

<p>
  <strong>Kuvaus:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Ikä:</strong>
  <%= @gift.age %>
</p>

<p>
  <strong>Sukupuoli:</strong>
  <%= @gift.gender %>
</p>

<%= link_to 'Muokkaa', edit_gift_path(@gift) %> |
<%= link_to 'Takaisin', gifts_path %>
